.Key {
  perspective: 100px;
  display: inline-block;
}

.Key-inner {
  position: relative;
  display: grid;
  place-items: center;
  height: 50px;
  width: 50px;
  background: red;
  transform-style: preserve-3d;
  transform: rotateX(15deg) rotateY(10deg) translate3d(0, 0, 1px);
}

.Key-inner:before {
  content: "";
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: perspective(90px) translate3d(6px, 8px, -3px);
}

.Key-arrow {
  position: absolute;
  font-size: 4em;
  font-weight: bold;
  font-family: serif;
  margin-top: 18px;
  transform: translate3d(0, 0, 1px);
}

.Key-arrow.Key-right {
  transform: rotate(90deg) translate3d(0, 0, 1px);
  margin-top: 0;
  margin-right: 18px;
}

.Key-arrow.Key-left {
  transform: rotate(-90deg) translate3d(0, 0, 1px);
  margin-top: 0;
  margin-right: -18px;
}

.Key-arrow.Key-down {
  transform: rotate(180deg) translate3d(0, 0, 1px);
  margin-top: -18px;
}
